# example 파일 수정 금지 실제 비밀번호는 .env 파일에 작성해주세요
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=ax_evaluator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
